[toolchain]
channel = "1.91.1"
components = [ "rust-src", "llvm-tools", "rust-std"]
targets = [
    "thumbv7em-none-eabi",
    "thumbv7m-none-eabi",
    "thumbv6m-none-eabi",
    "thumbv7em-none-eabihf",
]